<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Interview Task 2{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div id="app">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
    </body>
</html>
